.container {
  margin-top: 40px;
}

.container button {
  border: none;
  background: #979797;
  width: 130px;
  height: 40px;
  margin: 5px;
  border-radius: 2px;
  font-weight: bold;
  color: white;
}

.container .counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 100px;
  border: 1px solid #ccc;
  width: 300px;
  height: 200px;
  font-weight: bold;
  color: #CC3333;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
}